<!doctype html>
<html>
<body>
  <p>Admin,</p>
  <p>A new booking has been received with the following details:</p>
  <ul>
    <li><strong>ID:</strong> [[${id}]]</li>
    <li><strong>Name:</strong> [[${name}]]</li>
    <li><strong>WA ID:</strong> [[${waId}]]</li>
    <li><strong>Bike:</strong> [[${bike}]]</li>
    <li><strong>Duration:</strong> [[${duration}]]</li>
    <li><strong>Price:</strong> [[${price}]]</li>
    <li><strong>Deposit:</strong> [[${deposit}]]</li>
    <li><strong>Status:</strong> [[${status}]]</li>
    <li><strong>Start Date:</strong> [[${startDate}]]</li>
    <li><strong>End Date:</strong> [[${endDate}]]</li>
    <li><strong>Pickup Type:</strong> [[${pickupType}]]</li>
    <li><strong>Delivery Address:</strong> [[${deliveryAddress}]]</li>
    <li><strong>Promo Code:</strong> [[${promoCode?.code}]]</li>
    <li><strong>Promo Discount Amount:</strong> [[${promoDiscountAmount}]]</li>
    <li><strong>Promo Applied:</strong> [[${promoApplied}]]</li>
    <li><strong>Currency Unit:</strong> [[${currencyUnit}]]</li>
    <li><strong>Applied Exchange Rate:</strong> [[${appliedExchangeRate}]]</li>
    <li><strong>Created At:</strong> [[${createdAt}]]</li>
    <li><strong>Cancelled At:</strong> [[${cancelledAt}]]</li>
  </ul>

  <p>Regards,<br/>Booking System</p>
</body>
</html>
